.text-muted {
    color: #a1a5b7!important;
}

.flex-stack {
    justify-content: space-between;
    align-items: center;
}
.py-4 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.d-flex {
    display: flex!important;
}

.fs-7 {
    font-size: .95rem!important;
}
.mb-1 {
    margin-bottom: 0.25rem!important;
}

.ms-5 {
    margin-left: 1.25rem!important;
}