<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <!-- <h3 class="card-label">ยอดเงินที่ใช้ได้ทั้งหมด (บาท)</h3> -->
            <div class="account-management-heading-left">
                <h3 class="heading-h4">ยอดเงินที่ใช้ได้ทั้งหมด (บาท)</h3>
                <span class="small-txt"><i class="ic ic-redo pointer"></i>ข้อมูล ณ เวลา 00.15 น.</span>
            </div>
            <p class="price"><span> 15,973,497.73 </span></p>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-gradient">ตั้งค่าบัญชี</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row account-management-summary matchHeight-ipad-group summary-credit">
            <div class="col-sm-6 col-lg-4">
                <div class="account-management-summary-list min-h">
                    <div class="top matchHeight-ipad">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="heading"> นาย จักรกรินทร์ ละมุด

                                </h5>
                            </div>
                            <div class="col-sm-6 a-right">
                                <p class="detail"> บัญชีออมทรัพย์<br> xxx-x-x3682-x </p>
                            </div>
                        </div>
                    </div>
                    <div class="row middle">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 list">
                            <p> ยอดเงินที่ใช้ได้ 
                                <br>
                                <span class="c-green c-big">10,033,124.00</span>
                            </p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 list">
                            <p> ยอดเงินในบัญชี <span>10,033,124.00</span>
                            </p>
                            <p> ยอดเช็คนำฝาก<span>0.00</span>
                            </p>
                        </div>
                    </div>
                    <div class="bottom"><a class="a-center pointer">เพิ่มเติม</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="account-management-summary-list min-h">
                    <div class="top matchHeight-ipad">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="heading"> นาย พงษ์ศักดิ์ พุ่มไสว

                                </h5>
                            </div>
                            <div class="col-sm-6 a-right">
                                <p class="detail"> บัญชีออมทรัพย์<br> xxx-x-x2339-x </p>
                            </div>
                        </div>
                    </div>
                    <div class="row middle">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 list">
                            <p> ยอดเงินที่ใช้ได้ 
                                <br>
                                <span class="c-green c-big">503,000.55</span>
                            </p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 list">
                            <p> ยอดเงินในบัญชี <span>503,000.55</span>
                            </p>
                            <p> ยอดเช็คนำฝาก<span>0.00</span>
                            </p>
                        </div>
                    </div>
                    <div class="bottom"><a class="a-center pointer">เพิ่มเติม</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="account-management-summary-list min-h">
                    <div class="top matchHeight-ipad">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="heading"> นาย ภูวดล โทเกาะ

                                </h5>
                            </div>
                            <div class="col-sm-6 a-right">
                                <p class="detail"> บัญชีออมทรัพย์<br> xxx-x-x6847-x </p>
                            </div>
                        </div>
                    </div>
                    <div class="row middle">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 list">
                            <p> ยอดเงินที่ใช้ได้ 
                                <br>
                                <span class="c-green c-big">3,497.73</span>
                            </p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 list">
                            <p> ยอดเงินในบัญชี <span>3,497.73</span>
                            </p>
                            <p> ยอดเช็คนำฝาก<span>0.00</span>
                            </p>
                        </div>
                    </div>
                    <div class="bottom"><a class="a-center pointer">เพิ่มเติม</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>